.grid {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.links {
    text-align: center;
    flex-grow: 1;

    a {
        margin: 0 8px;
    }
}