.comments {
    background-color: #888;
    padding: 32px 16px;
    margin-top: 40px;

    h2 {
        color: #171D1F;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        margin: 0;
    }

    ul {
        padding: 0;
        list-style: none;
        margin: 0;

        li {
            padding: 16px 0;
        }
    }
}